<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>
	Azienda</display-name>
	<servlet>
		<description>
		</description>
		<display-name>
		GestioneAzienda</display-name>
		<servlet-name>GestioneAzienda</servlet-name>
		<servlet-class>
		it.azienda.servlet.GestioneAzienda</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		GestioneCliente</display-name>
		<servlet-name>GestioneCliente</servlet-name>
		<servlet-class>
		it.azienda.servlet.GestioneCliente</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		GestioneCommessa</display-name>
		<servlet-name>GestioneCommessa</servlet-name>
		<servlet-class>
		it.azienda.servlet.GestioneCommessa</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		GestioneCurriculum</display-name>
		<servlet-name>GestioneCurriculum</servlet-name>
		<servlet-class>
		it.azienda.servlet.GestioneCurriculum</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		GestioneReport</display-name>
		<servlet-name>GestioneReport</servlet-name>
		<servlet-class>
		it.azienda.servlet.GestioneReport</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		GestioneRisorse</display-name>
		<servlet-name>GestioneRisorse</servlet-name>
		<servlet-class>
		it.azienda.servlet.GestioneRisorse</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		GestioneTrattattive</display-name>
		<servlet-name>GestioneTrattattive</servlet-name>
		<servlet-class>
		it.azienda.servlet.GestioneTrattattive</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		StartScheduler</display-name>
		<servlet-name>StartScheduler</servlet-name>
		<servlet-class>
		it.azienda.servlet.StartScheduler</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>GestioneAzienda</servlet-name>
		<url-pattern>/GestioneAzienda</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GestioneCliente</servlet-name>
		<url-pattern>/GestioneCliente</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GestioneCommessa</servlet-name>
		<url-pattern>/GestioneCommessa</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GestioneCurriculum</servlet-name>
		<url-pattern>/GestioneCurriculum</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GestioneReport</servlet-name>
		<url-pattern>/GestioneReport</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GestioneRisorse</servlet-name>
		<url-pattern>/GestioneRisorse</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GestioneTrattattive</servlet-name>
		<url-pattern>/GestioneTrattattive</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>StartScheduler</servlet-name>
		<url-pattern>/StartScheduler</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>

	<context-param>
		<param-name>log4jConfigLocation</param-name>
		<param-value>/WEB-INF/classes/log4j.xml</param-value>
	</context-param>

	<context-param>
		<param-name>DB.driver</param-name>
		<param-value>com.mysql.jdbc.Driver</param-value>
	</context-param>
	<context-param>
		<param-name>DB.url</param-name>
		<param-value>jdbc:mysql://151.1.159.238:3306/drcon860_curriculum</param-value>
	</context-param>
	<context-param>
		<param-name>DB.userName</param-name>
		<param-value>drcon860_DiErre</param-value>
	</context-param>
	<context-param>
		<param-name>DB.password</param-name>
		<param-value>DiErre2012</param-value>
	</context-param>

	<context-param>
		<param-name>mail.protocol</param-name>
		<param-value>smtp</param-value>
	</context-param>
	<context-param>
		<param-name>mail.host</param-name>
		<param-value>smtp.gmail.com</param-value>
	</context-param>
	<context-param>
		<param-name>mail.port</param-name>
		<param-value>465</param-value>
	</context-param>
	<context-param>
		<param-name>mail.folder</param-name>
		<param-value>INBOX</param-value>
	</context-param>
	<context-param>
		<param-name>mail.userName</param-name>
		<param-value>info.drconsulting@gmail.com</param-value>
	</context-param>
	<context-param>
		<param-name>mail.password</param-name>
		<param-value>R0bert01</param-value>
	</context-param>
	<context-param>
		<param-name>mail.debug</param-name>
		<param-value>false</param-value>
	</context-param>
	<context-param>
		<param-name>mail.smtp.auth</param-name>
		<param-value>true</param-value>
	</context-param>
	<context-param>
		<param-name>mail.smtp.starttls.enable</param-name>
		<param-value>true</param-value>
	</context-param>
	<context-param>
		<param-name>mail.smtp.socketFactory.class</param-name>
		<param-value>javax.net.ssl.SSLSocketFactory</param-value>
	</context-param>


	<context-param>
		<param-name>siteUrl</param-name>
		<param-value>http://drconsulting.tv</param-value>
		<!-- <param-value>http://cvonline.tv</param-value> -->
		<!-- <param-value>http://drconsulting.tv</param-value> -->
	</context-param>

<!--
prod 1
	<context-param>
		<param-name>DB.driver</param-name>
		<param-value>com.mysql.jdbc.Driver</param-value>
	</context-param>
	<context-param>
		<param-name>DB.url</param-name>
		<param-value>jdbc:mysql://151.1.159.238:3306/drcon860_curriculum</param-value>
	</context-param>
	<context-param>
		<param-name>DB.userName</param-name>
		<param-value>drcon860_DiErre</param-value>
	</context-param>
	<context-param>
		<param-name>DB.password</param-name>
		<param-value>DiErre2012</param-value>
	</context-param>


prod 2
	<context-param>
		<param-name>DB.url</param-name>
		<param-value>jdbc:mysql://151.1.159.238:3306/cvonline_Curriculum</param-value>
	</context-param>
	<context-param>
		<param-name>DB.userName</param-name>
		<param-value>cvonline_DiErre</param-value>
	</context-param>
	<context-param>
		<param-name>DB.password</param-name>
		<param-value>DiErre2012</param-value>
	</context-param>

loc 1
	<context-param>
		<param-name>DB.driver</param-name>
		<param-value>com.mysql.jdbc.Driver</param-value>
	</context-param>
	<context-param>
		<param-name>DB.url</param-name>
		<param-value>jdbc:mysql://localhost:3306/drcon860_curriculum</param-value>
	</context-param>
	<context-param>
		<param-name>DB.userName</param-name>
		<param-value>root</param-value>
	</context-param>
	<context-param>
		<param-name>DB.password</param-name>
		<param-value>PwAdmin5%</param-value>
	</context-param>

loc 2
	<context-param>
		<param-name>DB.url</param-name>
		<param-value>jdbc:mysql://localhost:3306/cvonline_Curriculum</param-value>
	</context-param>
	<context-param>
		<param-name>DB.userName</param-name>
		<param-value>root</param-value>
	</context-param>
	<context-param>
		<param-name>DB.password</param-name>
		<param-value>root</param-value>
	</context-param>
-->
</web-app>
