<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>
	Azienda</display-name>
	<servlet>
		<description>
		</description>
		<display-name>
		GestioneAzienda</display-name>
		<servlet-name>GestioneAzienda</servlet-name>
		<servlet-class>
		it.azienda.servlet.GestioneAzienda</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		GestioneCliente</display-name>
		<servlet-name>GestioneCliente</servlet-name>
		<servlet-class>
		it.azienda.servlet.GestioneCliente</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		GestioneCommessa</display-name>
		<servlet-name>GestioneCommessa</servlet-name>
		<servlet-class>
		it.azienda.servlet.GestioneCommessa</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		GestioneCurriculum</display-name>
		<servlet-name>GestioneCurriculum</servlet-name>
		<servlet-class>
		it.azienda.servlet.GestioneCurriculum</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		GestioneReport</display-name>
		<servlet-name>GestioneReport</servlet-name>
		<servlet-class>
		it.azienda.servlet.GestioneReport</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		GestioneRisorse</display-name>
		<servlet-name>GestioneRisorse</servlet-name>
		<servlet-class>
		it.azienda.servlet.GestioneRisorse</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		GestioneTrattattive</display-name>
		<servlet-name>GestioneTrattattive</servlet-name>
		<servlet-class>
		it.azienda.servlet.GestioneTrattattive</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		StartScheduler</display-name>
		<servlet-name>StartScheduler</servlet-name>
		<servlet-class>
		it.azienda.servlet.StartScheduler</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>GestioneAzienda</servlet-name>
		<url-pattern>/GestioneAzienda</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GestioneCliente</servlet-name>
		<url-pattern>/GestioneCliente</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GestioneCommessa</servlet-name>
		<url-pattern>/GestioneCommessa</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GestioneCurriculum</servlet-name>
		<url-pattern>/GestioneCurriculum</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GestioneReport</servlet-name>
		<url-pattern>/GestioneReport</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GestioneRisorse</servlet-name>
		<url-pattern>/GestioneRisorse</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GestioneTrattattive</servlet-name>
		<url-pattern>/GestioneTrattattive</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>StartScheduler</servlet-name>
		<url-pattern>/StartScheduler</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>
