@CHARSET "ISO-8859-1";

td{
	border-right: 1px solid black;	
}

label{
	border-left: 1px solid black;
}

.intestazione{
	font-size:25px;
	letter-spacing: 4px;
	margin:0;
	padding:0;
}

.intestazioni{
	font-size:19px;
	letter-spacing: 0px;
	margin:0;
	padding:0;
}

.contenitoreIntestazione{
	margin: 0px;
	padding: 0px;
	border-bottom: 3px solid black;
}

.contenuti{
	font-size: 17px;
}

.spazioSinistro{
	width: 37%;
}

.spazioCentro{
	width: 25%;
}

.spazioDestro{
	width: 55%;
}

.context textarea, .context table{
	margin: 0px;
	padding: 0px;
	font-size: 13px;
}

.context table p{
	margin: 0px;
	padding: 0px;
}

.context textarea{
	resize: none;
	border: 0px solid black;	
}