#intestazione { width: 100%;}

#intestazione label{width: 40%; border-right: 1px solid; padding-right: 0.5em;}

#intestazione span{width: 40%;}

#logo { width: 100%;}

#logo label{ width:40%; height: 95%; background: url(../images/logo.gif) no-repeat 95% 100%; border-right: 1px solid; }

#logo span{ width:40%;}

/* -------------------------------------------------------------------------- */

/* gestione anteprima curriculum */

#intestazioneCurriculum{ width: 100%; }

#intestazioneCurriculum textarea{ border:none; resize: none; }

.titoli{ width: 30%; text-align: right; padding: 5px; border-right: 1px solid black;}
.titoli h3{ margin: 0;}
.titoli h4{ margin: 0;}

.descrizioni{ width: 30%; text-align: right; font-size: 15px; padding: 5px; border-right: 1px solid  black;}

.valore{ text-align: left; font-size: 15px; padding: 5px;}

#logo{ width: 100px; height: 70px; text-align: right;}

#labelA{margin-left: 20px; }

#inserisciEsperienza textarea{ resize: none; }
