<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j='http://jakarta.apache.org/log4j/'>

	<appender name="fileAppender" class="org.apache.log4j.DailyRollingFileAppender">
      <param name="Append" value="true"/>
      <param name="DatePattern" value="'.'yyyy-MM-dd"/>
<!--  <param name="File" value="C:/Users/Utente/Desktop/Progetti Java/dierreconsulting/Azienda/WebContent/WEB-INF/logs/Azienda.log"/> -->
  	  <param name="File" value="/nfs_home/drcon860/public_html/log/Azienda/Dipendente.log"/> 
      <layout class="org.apache.log4j.PatternLayout">
         <param name="ConversionPattern" value="%d{dd-MM-yyyy HH:mm:ss:SSS} | [%c] | %p | %M:%L | %m %n "/>
      </layout>
   </appender>

	<appender name="SmtpAppender" class="org.apache.log4j.net.SMTPAppender">
		<param name="SMTPProtocol" value="smtps"/>
		<param name="SMTPPort" value="465"/>
		<param name="SMTPHost" value="smtp.gmail.com"/>
		<param name="SMTPUsername" value="logwebapp@gmail.com"/>
		<param name="SMTPPassword" value="2013Dr2013"/>
		<param name="From" value="logwebapp@gmail.com"/>
		<param name="To" value="emmanuel.devita+webappazienda@gmail.com"/>
		<param name="Cc" value="roberto.camarca+webappazienda@gmail.com"/>
		<param name="Subject" value="Log Web Application Azienda"/>
		<param name="BufferSize" value="5"/>
		<param name="EvaluatorClass" value="it.util.log.TriggerLogEvent"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
			value="[%d{ISO8601}][%-5p][%t][%c]%m%n" />
		</layout>
	</appender>

	<root>
		<level value="WARN"/>
		<appender-ref ref="fileAppender"/>
		<appender-ref ref="SmtpAppender"/>
	</root>
</log4j:configuration>